html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',sans-serif;
  color: #006699;
  background-color: #e6f2ff;
  height: 100%;
  width: 100%;
  display: table;

}

.message-card {
  margin: 50px;
  padding: 20px;
  width: 600px;
  height: 600px;
  text-align: center;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px #006699;



}

.message-content {
  width: 500px;
  height: 550px;
  padding: 100px 0;
  text-align: center;
  margin: auto;
}

.message-section {
  text-align: center;
  height: 100%;
}

.message-buttons {
  bottom: 0px;
  width: auto;
  position: fixed;
  z-index:  150;
  text-align: center;
  margin: 0 auto;
  background-color: white;
  height: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 10px 5px #006699;

}

.arrow-container {
  text-align: center;
  margin: auto;
  padding-top: 7%;
}

.arrow {
  padding-bottom: 40px;
}

.refresh {
  padding-top: 30px;
}


.btn-default {
  border: none;
  margin: auto;
  padding-right: 45px;
  padding-left: 45px;
  padding-top: 20px;
  font-family: inherit;
  color: inherit;
  font-size: 18px;
  border-radius: 20px;
}

button.list-group-item {
  border: none;
  text-align: center;
}

.list-group-item {
  border: none;
  text-align: center;
}

.list-group {
  border-radius: 20px;
}

.Group-nav {
  border-radius: 20px;
  background-color: white;
  text-align: center;
  box-shadow: 10px 5px #006699;
}




.signupForm {


  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 600px;
  max-height: 300px;
  text-align: center;

}

.sign-out {
  display: inline;
  padding-top: 15px;
  padding-left: 15px;
}


.example-enter {
    opacity: 0;
    transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0);
}
.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave {
	opacity: 1;
	transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
  transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave.example-leave-active {
	opacity: 0;
	transform:   translate(250px,0);
	transform: translate3d(250px,0,0);
}
