html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',sans-serif;
  color: #006699;
  background-color: #e6f2ff;
  height: 100%;
  width: 100%;
  display: table;

}

.likes {

}

.message-card {

  padding: 20px;
  width: 600px;
  height: 700px;
  text-align: center;
  margin: 20px auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px #006699;

  position: relative;

}
.leftDeck {
  float: left;
}

.rightDeck {
  float: right;

}

.message-content {
  width: 525px;
  height: 525px;
  padding-top: 20px;
  text-align: center;
  margin: auto;
}

.message-section {
  text-align: center;
  height: 100%;
  padding-top: 20px;
}

.message-buttons {
  bottom: 0px;
  width: auto;
  position: fixed;
  z-index:  150;
  text-align: center;
  margin: auto;
  background-color: white;
  height: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 10px 5px #006699;

}

.arrow-container {
  text-align: center;
  margin: auto;
  padding-top: 7%;
}

.arrow {
  padding-bottom: 40px;
}

.refresh {
  padding-top: 30px;
}


.btn-default {
  border: none;
  margin: auto;
  padding-right: 45px;
  padding-left: 45px;
  padding-top: 20px;
  font-family: inherit;
  color: inherit;
  font-size: 18px;
  border-radius: 20px;
}

button.list-group-item:active {
  color: orange;
}

button.list-group-item {
  border: none;
  text-align: center;
}

.list-group-item {
  border: none;
  text-align: center;
}



.list-group {
  border-radius: 20px;
}

.Group-nav {
  background-color: white;
  text-align: center;
}

.signupForm {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 600px;
  max-height: 300px;
  text-align: center;
}

.signInForm {
  position: relative;
  margin: auto;
  max-width: 600px;
  max-height: 300px;
  text-align: center;
  padding-bottom: 10px;
}

.sign-out {
  display: inline;
  padding-top: 15px;
  padding-left: 15px;
}


/* MESSAGES COMPONENT: CARD ANIMATIONS */
.container{
  position: relative;
}

.rightTransition-enter {
    opacity: 0;
    /* transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0); */
}
.rightTransition-enter.rightTransition-enter-active {
	opacity: 1;
  transition: opacity 100ms ease-out;
	/* transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear; */
}

.rightTransition-leave {
	opacity: 1;
	/* transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
  transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear; */
}
.rightTransition-leave.rightTransition-leave-active {
  /* transform: translate(-100%);
  transition: transform 1000ms ease-in-out; */
	/* opacity: 0;
  transition: opacity 100ms ease-out; */
	transform:   translate(-500px,0);
	transform: translate3d(-500px,0,0);
}

.leftTransition-enter {
    opacity: 0;
    /* transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0); */
}
.leftTransition-enter.leftTransition-enter-active {
	opacity: 1;
  transition: opacity 100ms ease-out;
	/* transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear; */
}

.leftTransition-leave {
	opacity: 1;
	/* transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
  transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear; */
}
.leftTransition-leave.leftTransition-leave-active {
  /* transform: translate(-100%);
  transition: transform 1000ms ease-in-out; */
	/* opacity: 0;
  transition: opacity 3000ms ease-out; */
	transform:   translate(500px,0);
	transform: translate3d(500px,0,0);
}

.avatar-with-cap {
  height: 60px;
  width: 60px;
  float: left;
  margin-right: 10px;

}

.caption {
  text-align: left;
  padding: 10px;
  font-size: 18px;
}

.caption-container {
  padding-top: 25px;
}

.time {
  padding: 20px 0;
  font-size: 18px;
  text-transform: uppercase;
}

.message-img {
  object-fit: cover;
  overflow: hidden;
  max-width: 100%;
  height: 505px;
  width: 525px;
  border-radius: 10px;
}

.likes {
  float: right;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 50px;
  height: 200px;
  left: 0px;
  top: 100px;

}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 40px;
  width: 40px;
}

.bm-cross {
  background: #bdc3c7;
}

button {
  border: none;
  background-color: #e6f2ff;
}

.bm-icon {
  background-color: white;
  text-orientation: sideways;
  font-size: 18px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 10px 5px #006699;

}


.vertical-label {
  transform: rotate(270deg);
  left: 0px;
  width: 200px;

}

.navbar {
  margin: 0;
}

.submitButton {
  color: white;
  background-color: #006699;
  border-radius: 5px;
  margin-top: 5px;
}

.previewComponent {
  padding: 20px;
  border: none;
}

.video-js {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}

video {

}
