html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',sans-serif;
  color: #006699;
  background-color: #e6f2ff;
  height: 100%;
  width: 100%;
  display: table;
  overflow: hidden;

}

.main-container {
  padding-right: 15px;
  margin-right: auto;
}

@media (min-width: 300px) {
  .message-card {
    position: relative;
  }
  .main-container {
    width: 390px;
  }
  body {
    font-size: 12px;

  }
  .item {
    width: 250px;
    height: 310px;
    
  }
  .time {
    padding: 10px 0; 
    font-size: 12px;
    text-transform: uppercase;
  }
  .message-content {
    width: 225px;
    height: 200px;
    padding-top: 10px;
    text-align: center;
  
  }
  .message-img {
    object-fit: cover;
    overflow: hidden;
    max-width: 100%;
    height: 175px;
    width: 165px;
    border-radius: 10px;
  }
  .navbar {
    font-size: 10px;
    display: block;
  }
  .nav>li {
    display: inline;
  }
  .nav>li>a {
    display: inline;
  }
  .leftDeck {
    float: left;
    margin-top: 50px;
  }
  .rightDeck {
    float: right;
    margin-top: 50px;
    
  }
  .message-section {
    text-align: center;
    height: 100%;
    padding-top: 20px;
  }
  .message-buttons {
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index:  150;
    text-align: center;
    margin: auto;
    background-color: white;
    height: 50px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 10px 5px #006699; */
  
  }
  .btn-default {
    border: none;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 20px;
    font-family: inherit;
    color: inherit;
    font-size: 10px;
    /* border-radius: 20px; */
  }
  .container{
    position: relative;
    
  }
  .refresh {
    padding-top: 30px;
  }
  .navbar {
    margin: 0;
    width: 100%;
  }
  
  .submitButton {
    color: white;
    background-color: #006699;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .previewComponent {
    padding: 20px;
    border: none;
    font-size: 10px;
    width: 250px;
  }
  
  .video-js {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
  }
  .dropdown-menu{
    width: 270px;
  }
  .img-preview {
    object-fit: cover;
    overflow: hidden;
    max-width: 100%;
    height: 135px;
    width: 150px;
  }
  .bm-icon {
    background-color: white;
    text-orientation: sideways;
    font-size: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 10px 5px #006699;
    
  }
  .bm-burger-button {
    position: fixed;
    width: 30px;
    height: 50px;
    left: 0px;
    top: 90px;
  
  }

  .avatar-with-cap {
    height: 40px;
    width: 40px;
    float: left;
    margin-right: 10px;
  
  }

  .caption {
    text-align: left;
    padding: 10px;
    font-size: 12px;
  }
  
  .caption-container {
    padding-top: 5px;
  }
  .rightTransition-enter {
    opacity: 0;
    /* transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0); */
}
.rightTransition-enter.rightTransition-enter-active {
	opacity: 1;
  transition: opacity 100ms ease-out;
	/* transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear; */
}

.rightTransition-leave {
	opacity: 1;
	/* transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
  transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear; */
}
.rightTransition-leave.rightTransition-leave-active {
  /* transform: translate(-100%);
  transition: transform 1000ms ease-in-out; */
	/* opacity: 0;
  transition: opacity 100ms ease-out; */
	transform:   translate(-200px,0);
	transform: translate3d(-200px,0,0);
}

.leftTransition-enter {
    opacity: 0;
    /* transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0); */
}
.leftTransition-enter.leftTransition-enter-active {
	opacity: 1;
  transition: opacity 100ms ease-out;
	/* transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear; */
}

.leftTransition-leave {
	opacity: 1;
	/* transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
  transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear; */
}
.leftTransition-leave.leftTransition-leave-active {
  /* transform: translate(-100%);
  transition: transform 1000ms ease-in-out; */
	/* opacity: 0;
  transition: opacity 3000ms ease-out; */
	transform:   translate(200px,0);
	transform: translate3d(200px,0,0);
}
.handle {
  float: left;
  margin: auto;
  padding-left: 10px;
}

}


@media (min-width: 768px) {
    .main-container { 
        width: 750px;
    } 
    .item {
        width: 400px;
        height: 500px;
    }
    .message-img {
      object-fit: cover;
      overflow: hidden;
      max-width: 100%;
      height: 305px;
      width: 325px;
      border-radius: 10px;
    }
    .message-content {
      width: 325px;
      height: 325px;
      padding-top: 20px;
      text-align: center;

    }
    .navbar {
      font-size: inherit;
      display: inherit;
    }
    .nav>li {
      display: inherit;
    }
    .nav>li>a {
      padding-top: 15px;
      display: block;
    }
    .leftDeck {
      margin: 0;
    }
    .rightDeck {
      margin: 0;
    }
    .message-buttons {
      bottom: 0px;
      width: 500px;
      position: fixed;
      z-index:  150;
      text-align: center;
      margin: auto;
      background-color: white;
      height: 50px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      box-shadow: 10px 5px #006699;
    }
    .btn-default {
      border: none;
      margin: auto;
      padding-right: 25px;
      padding-left: 25px;
      padding-top: 20px;
      font-family: inherit;
      color: inherit;
      font-size: 13px;
      /* border-radius: 20px; */
    }
    .submitButton {
      color: white;
      background-color: #006699;
      border-radius: 5px;
      margin-top: 5px;
    }
  
    .previewComponent {
      padding: 20px;
      border: none;
      font-size: 10px;
      width: 290px;
    }
    
    .video-js {
      position: relative !important;
      width: 100% !important;
      height: 100% !important;
    }
    .dropdown-menu{
      width: 310px;
    }
    .img-preview {
      object-fit: cover;
      overflow: hidden;
      max-width: 100%;
      height: 180px;
      width: 180px;
    }
    .bm-icon {
      background-color: white;
      text-orientation: sideways;
      font-size: 12px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      box-shadow: 10px 5px #006699;
      
    }
    .bm-burger-button {
      position: fixed;
      width: 80px;
      height: 200px;
      left: 0px;
      top: 100px;
    
    }
  
    .avatar-with-cap {
      height: 50px;
      width: 50px;
      float: left;
      margin-right: 10px;
    
    }
    
    .caption {
      text-align: left;
      padding: 10px;
      font-size: 14px;
    }
    
    .caption-container {
      padding-top: 25px;
    }

    .time {
      padding: 10px 0; 
      font-size: 14px;
      text-transform: uppercase;
    }

    .rightDeck {
      overflow: visible;
    }
    .rightTransition-leave.rightTransition-leave-active {
      /* transform: translate(-100%);
      transition: transform 1000ms ease-in-out; */
      /* opacity: 0;
      transition: opacity 100ms ease-out; */
      transform:   translate(-295px,0);
      transform: translate3d(-295px,0,0);
    }
    .leftTransition-leave.leftTransition-leave-active {
      /* transform: translate(-100%);
      transition: transform 1000ms ease-in-out; */
      /* opacity: 0;
      transition: opacity 3000ms ease-out; */
      transform:   translate(295px,0);
      transform: translate3d(295px,0,0);
    }
}

@media (min-width: 992px) {
    .main-container { 
        width: 970px; 
    } 
    .item {
      width: 495px;
      height: 595px;
    }
    .message-img {
      object-fit: cover;
      overflow: hidden;
      max-width: 100%;
      height: 425px;
      width: 445px;
      border-radius: 10px;
    }
    .message-content {
      width: 445px;
      height: 445px;
      padding-top: 20px;
      text-align: center;
      
    }
    .previewComponent {
      padding: 20px;
      border: none;
      font-size: 14px;
      width: 320px;
    }

    
    .video-js {
      position: relative !important;
      width: 100% !important;
      height: 100% !important;
    }
    .dropdown-menu{
      width: 340px;
    }
    .img-preview {
      object-fit: cover;
      overflow: hidden;
      max-width: 100%;
      height: 200px;
      width: 200px;
    }
    .bm-icon {
      background-color: white;
      text-orientation: sideways;
      font-size: 14px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      box-shadow: 10px 5px #006699;
      
    }
    .bm-burger-button {
      position: fixed;
      width: 80px;
      height: 200px;
      left: 0px;
      top: 100px;
    
    }
  
    .avatar-with-cap {
      height: 60px;
      width: 60px;
      float: left;
      margin-right: 10px;
    
    }
    
    .caption {
      text-align: left;
      padding: 15px;
      font-size: 16px;
    }
    
    .caption-container {
      padding-top: 15px;
    }

    .time {
      padding: 10px 0; 
      font-size: 16px;
      text-transform: uppercase;
    }
    .rightTransition-leave.rightTransition-leave-active {
      /* transform: translate(-100%);
      transition: transform 1000ms ease-in-out; */
      /* opacity: 0;
      transition: opacity 100ms ease-out; */
      transform:   translate(-415px,0);
      transform: translate3d(-415px,0,0);
    }
    .leftTransition-leave.leftTransition-leave-active {
      /* transform: translate(-100%);
      transition: transform 1000ms ease-in-out; */
      /* opacity: 0;
      transition: opacity 3000ms ease-out; */
      transform:   translate(415px,0);
      transform: translate3d(415px,0,0);
    }
    .handle {
      float: left;
      margin: auto;
      padding-left: 10px;
    }
    .message-buttons {
      bottom: 0px;
      width: 640px;
      position: fixed;
      z-index:  150;
      text-align: center;
      margin: auto;
      background-color: white;
      height: 50px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      box-shadow: 10px 5px #006699;
    }
    .btn-default {
      font-size: 14px;
    }
    .message {
      background-color: #e6f2ff;
      font-size: 30px;
      margin: auto;
      padding-top: 50px;
      border-radius: 10px;
    }
    .avatar-with-text {
      height: 60px;
      width: 60px;
      margin: auto;
      margin-top: 15px;
    }
    .handle-with-text {
      margin-top: 10px;
    }

}
@media (min-width: 1200px) {
    .main-container { width: 1170px; } 
}

button.list-group-item:active {
  color: orange;
}

button.list-group-item {
  border: none;
  text-align: center;
}

.list-group-item {
  border: none;
  text-align: center;
}
.list-group {
  border-radius: 20px;
}
.Group-nav {
  background-color: white;
  text-align: center;
}
.signupForm {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 600px;
  max-height: 300px;
  text-align: center;
}

.signInForm {
  position: relative;
  margin: auto;
  max-width: 600px;
  max-height: 300px;
  text-align: center;
  padding-bottom: 10px;
}

.sign-out {
  display: inline;
  padding-top: 15px;
  padding-left: 15px;
}


/* MESSAGES COMPONENT: CARD ANIMATIONS */


.rightTransition-enter {
    opacity: 0;
    /* transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0); */
}
.rightTransition-enter.rightTransition-enter-active {
	opacity: 1;
  transition: opacity 100ms ease-out;
	/* transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear; */
}

.rightTransition-leave {
	opacity: 1;
	/* transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
  transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear; */
}
/* .rightTransition-leave.rightTransition-leave-active { */
  /* transform: translate(-100%);
  transition: transform 1000ms ease-in-out; */
	/* opacity: 0;
  transition: opacity 100ms ease-out; */
	/* transform:   translate(-200px,0);
	transform: translate3d(-200px,0,0);
} */

.leftTransition-enter {
    opacity: 0;
    /* transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0); */
}
.leftTransition-enter.leftTransition-enter-active {
	opacity: 1;
  transition: opacity 100ms ease-out;
	/* transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear; */
}

.leftTransition-leave {
	opacity: 1;
	/* transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
  transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear; */
}
/* .leftTransition-leave.leftTransition-leave-active {
  /* transform: translate(-100%);
  transition: transform 1000ms ease-in-out; */
	/* opacity: 0;
  transition: opacity 3000ms ease-out; */
	/* transform:   translate(200px,0);
	transform: translate3d(200px,0,0);
} */ 



.caption {
  text-align: left;
  padding: 10px;
  font-size: 18px;
}

.caption-container {
  padding-top: 25px;
}

.time {
  padding: 20px 0;
  font-size: 18px;
  text-transform: uppercase;
}

.message-img {
  object-fit: cover;
  overflow: hidden;
  max-width: 100%;
  height: 505px;
  width: 525px;
  border-radius: 10px;
}

.likes {
  float: right;
}


/* Position and sizing of burger button */
/* .bm-burger-button {
  position: fixed;
  width: 80px;
  height: 200px;
  left: 0px;
  top: 100px;

} */

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 40px;
  width: 40px;
}

.bm-cross {
  background: #bdc3c7;
}

button {
  border: none;
  background-color: #e6f2ff;
}



.vertical-label {
  transform: rotate(270deg);
  left: 0px;
  width: 200px;

}

